:root{
    --main-blue: #00abdf;
    --main-blue-light: #22cbff;
    --main-black: #444444;
    --main-grey: #d3d3d3;
    --main-teal: #30e3ca;
    --main-pink: #ff4582;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-black);
}

.wave-controls-parent {
    background-color: var(--main-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    margin: auto;
}

.wave-controls {
    background-color: #ffffff;
    padding: 20px;
    width: 20vw;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
        -5px 5px 5px rgba(0, 0, 0, 0.1);
}

.control-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

button {
    width: 4.5rem;
    height: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background-color: var(--main-black);
    border: 2px solid var(--main-black);
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity .2s;
}

button:hover {
    opacity: 1;
}

.active {
    background-color: var(--main-blue);
    border: var(--main-blue) 2px solid;
}

.slider-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.slider-container label {
    font-weight: 700;
    display: block;
}

.slider-container input {
    margin-right: 10px;
}


.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    height: 0.5rem;
    border-radius: 5px;
    background: var(--main-grey);
    
    /* background: var(--main-pink); */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
  }


.keyboard-container {
    margin: auto;
    margin-top: 10vh;
    width: 90%;
    height: 40vh;
    position: relative;
}

.black-keys {
    display: flex;
    position: absolute;
    height: 20vh;
    width: 100%;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    pointer-events: none;
}

.black-key,
.space {
    background-color: #000;
    border: #000 2px solid;
    width: 7%;
    height: 100%;
    cursor: pointer;
    pointer-events: all;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.black-key:active {
    background: var(--main-blue);

}

.white-keys {
    height: 100%;
    display: flex;
}

.white-key {
    height: 100%;
    flex: 1;
    border: #000 2px solid;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}



.white-key:active {
    background-color: var(--main-blue);
}

.active-key {
    background-color: var(--main-blue);
}

.space {
    opacity: 0;
    pointer-events: none;
}