:root{
    --main-blue: #00abdf;
    --main-blue-light: #22cbff;
    --main-black: #444444;
    --main-grey: #d3d3d3;
    --main-teal: #30e3ca;
    --main-pink: #ff4582;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-black);
}

.settings {
    position: relative;
    width: 100%;
    background: var(--main-blue);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1),
        -5px 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.wave-controls-parent {
    background: var(--main-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    padding-bottom: 0;
    margin: auto;
    z-index: 4;
}

.wave-controls {
    background: #ffffff;
    padding: 20px;
    width: 20vw;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
        -5px 5px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
    /* hide extra wave controls */
    height: 5.5rem;
    transition: height 0.3s;    
}

.control-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

button {
    width: 4.5rem;
    height: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background: var(--main-black);
    border: 2px solid var(--main-black);
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    transition: all .2s;
}

button:hover {
    opacity: 1;
}

.active {
    background: var(--main-blue);
    border: var(--main-blue) 2px solid;
}

.slider-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.wave-controls .slider-container {
    opacity: 0;
    transition: opacity 1s;
}

.slider-container label {
    font-weight: 700;
    display: block;
}

.slider-container input {
    margin-right: 10px;
}


.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 0.5rem;
    border-radius: 5px;
    background: var(--main-grey);
    
    /* background: var(--main-pink); */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
}

.toggle-settings-view-parent {
    display: flex;
    justify-content: center;
}

.toggle-settings-view {
    color: #ffffff;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.toggle-settings-view .up-arrow {
    display: none;
}

.toggle-settings-view:hover {
    opacity: 1;
}


.animations {
    position: relative;
    margin-top: 0px;
    top: 0px;

    width: 100%;
    height: 25vh;
    z-index: 0;
}

.animations canvas {
    width: 100%;
    height: 100%;
}

.page-bottom {
    position: fixed;
    bottom: 40px;
    width: 100%;
    z-index: 1;
}

.keyboard-container {
    margin: auto;
    margin-top: 10vh;
    width: 90%;
    height: 40vh;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
        -5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.black-keys {
    display: flex;
    position: absolute;
    height: 20vh;
    width: 100%;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    pointer-events: none;
}

.black-key,
.space {
    background: linear-gradient(black,var(--main-black));
    border: black 3px solid;
    border-bottom: black 5px solid;
    width: 7%;
    height: 100%;
    cursor: pointer;
    pointer-events: all;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--main-grey);

}

.black-key:hover {
    background: var(--main-black);
}

.black-key:active {
    background: var(--main-blue);
    border-bottom: black 3px solid;
}

.white-keys {
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;    
}

.white-key {
    height: 100%;
    flex: 1;
    border: var(--main-black) 2px solid;
    background: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: var(--main-grey);
}

.white-key span,
.black-key span {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    top: 70%;
    width: 100%;
    text-align: center;
}
.black-key span {
    top: 50%;
    opacity: 0.3;
}

.white-key:hover {
    background: #dddddd;
    color: #ffffff;
}

.white-key:first-child {
    border-top-left-radius: 10px;
}

.white-key:last-child {
    border-top-right-radius: 10px;
}

.white-key:active {
    background: var(--main-blue);
}

.active-key {
    background: var(--main-blue) !important;
}

.space {
    opacity: 0;
    pointer-events: none;
}

/* prevent text selection on keys */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}


.master-volume {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 10px rgba(255, 255, 255, 0.8);
    border-radius: 10px;    
}

.master-volume .slider-container {
    width: 50%;
}

.master-volume .slider {
    flex: 1;
    margin-left: 2rem;
}


/* Open Wave controls */
.wave-open {
    height: 18rem;
    transition: height 0.3s;
}

.wave-open .slider-container {
    opacity: 1;
}

.wave-open .toggle-settings-view .down-arrow {
    display: none !important;
}

.wave-open .toggle-settings-view .up-arrow {
    display: block;
}

.mobile-settings-toggle {
    display: none;
}

.mobile-open {
    display: none;
}

.source {
    display: flex;
    justify-content: center;
}

.github-parent {
    position: fixed;
    bottom: 0px;
    margin: auto;
    z-index: 5;
}
  
.github {
    display: block;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--main-black);
    opacity: 0.7;
    font-size: 2rem;
}

.github:hover {
    opacity: 1;
}
  

@media screen and (max-width: 1325px) {
    .wave-controls {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        height: 3.8rem;  
        padding-top: 10px;     
    }

    .wave-open {
        height: 20rem;
    }

    .control-top {
        width: 100%;
        font-size: 0.9rem;
        margin-bottom: 0px;
        
    }

    button {
        width: 3.2rem;
        height: 2.5rem;
    }

    .wave-controls .slider-container {
        width: 100%;
    }

     .slider-container label { 
        padding-bottom: 5px;
    } 

    .wave-controls .slider-container .slider {
        width: 100%;
    }

    .toggle-settings-view {
        padding-top: 0.5rem;
    }
}


@media screen and (max-width: 1090px) {
    .wave-controls-parent {
        padding-top: 15px;
    }

    .wave-controls {
        padding-top: 5px;
        height: 4.3rem;
    }

    .control-top {
        font-size: 0.8rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    button {
        margin-top: 0px;
        width: 100%;
        height: 1.7rem;
        font-size: 1rem;
    }
    
    .wave-open {
        height: 20rem;
    }

    .slider::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
    }
    

    .toggle-settings-view {
        padding-top: 0;
    }

    .animations {
        top: 5vh;
    }
}


@media screen and (max-width: 860px) {
    .wave-controls-parent {
        overflow: hidden;
    }

    .wave-controls {
        height: 0rem;
        padding: 0;
    }

    .wave-controls {        
        opacity: 0;
        pointer-events: none;
    }

    .wave-open {
        height: 5rem;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        width: 100%;
        flex-direction: row;
        margin-bottom: 10px;
        opacity: 1;
        pointer-events: all;
    }

    .wave-controls .slider-container,
    .control-top {
        flex: 1;
        flex-direction: row;
    }

    .animations {
        top: 4vh;
    }
}

@media screen and (max-width: 860px) and (orientation: portrait) {
    .master-volume .slider-container {
        width: 100%;
    }

    .master-volume {
        flex-wrap: wrap;
    }
}

@media screen and (max-height: 600px) {
    .page-bottom {
        bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .mobile-absent {
        display: none;
    }

    .last-mobile {
        border-top-right-radius: 10px;
    }

    .wave-open {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 6rem;
        padding-bottom: 0;
    }

    .wave-open .control-top {
        width: 100%;
        margin-right: 20px;
        order: 1;
        padding-bottom: 10px;
    }

    .wave-open .slider-container {
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s;
        order: 3;
    }

    .mobile-settings-toggle {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        opacity: 0.8;
        order: 2;
        top: 40px;
    }

    .mobile-settings-toggle:hover {
        opacity: 1;
    }

    .mobile-settings-toggle .up-arrow {
        display: none;
    }

    .mobile-settings .down-arrow {
        display: block;
    }

    .mobile-open {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 22rem;
    }

    .mobile-open .slider-container {
        position: relative;
        display: block;
        opacity: 1;
        padding: 0;
    }

    .mobile-open .down-arrow {
        display: none;
    }

    .mobile-open .up-arrow {
        display: block;
    }

    .mobile-open .mobile-settings-toggle {
        order: 4;
    }

}