:root{
    --main-blue: #00abdf;
    --main-blue-light: #22cbff;
    --main-black: #444444;
    --main-grey: #d3d3d3;
    --main-teal: #30e3ca;
    --main-pink: #ff4582;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-black);
}

.settings {
    background: var(--main-blue);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1),
        -5px 10px 10px rgba(0, 0, 0, 0.1);
}

.wave-controls-parent {
    background: var(--main-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    padding-bottom: 0;
    margin: auto;
}

.wave-controls {
    background: #ffffff;
    padding: 20px;
    width: 20vw;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
        -5px 5px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
    /* hide extra wave controls */
    height: 5.5rem;
    transition: height 0.3s;
    
}

.control-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

button {
    width: 4.5rem;
    height: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background: var(--main-black);
    border: 2px solid var(--main-black);
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    transition: all .2s;
}

button:hover {
    opacity: 1;
}

.active {
    background: var(--main-blue);
    border: var(--main-blue) 2px solid;
}

.slider-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.slider-container label {
    font-weight: 700;
    display: block;
}

.slider-container input {
    margin-right: 10px;
}


.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    height: 0.5rem;
    border-radius: 5px;
    background: var(--main-grey);
    
    /* background: var(--main-pink); */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
}

.toggle-settings-view-parent {
    display: flex;
    justify-content: center;
}

.toggle-settings-view {
    color: #ffffff;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.toggle-settings-view:hover {
    opacity: 1;
}

.page-bottom {
    position: fixed;
    bottom: 40px;
    width: 100%;
    z-index: -1;
}

.keyboard-container {
    margin: auto;
    margin-top: 10vh;
    width: 90%;
    height: 40vh;
    position: relative;
}

.black-keys {
    display: flex;
    position: absolute;
    height: 20vh;
    width: 100%;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    pointer-events: none;
}

.black-key,
.space {
    background: linear-gradient(black,var(--main-black));
    border: black 3px solid;
    border-bottom: black 5px solid;
    width: 7%;
    height: 100%;
    cursor: pointer;
    pointer-events: all;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.black-key:hover {
    background: var(--main-black);
}

.black-key:active {
    background: var(--main-blue);
    border-bottom: black 3px solid;

}

.white-keys {
    height: 100%;
    display: flex;
}

.white-key {
    height: 100%;
    flex: 1;
    border: var(--main-black) 2px solid;
    background: radial-gradient( #ffffff 50%, #dddddd);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.white-key:hover {
    background: #dddddd;
}

.white-key:first-child {
    border-top-left-radius: 10px;
}

.white-key:last-child {
    border-top-right-radius: 10px;
}

.white-key:active {
    background: var(--main-blue);
}

.active-key {
    background: var(--main-blue) !important;
}

.space {
    opacity: 0;
    pointer-events: none;
}

.master-volume {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.master-volume .slider-container {
    width: 50%;
}

.master-volume .slider {
    flex: 1;
    margin-left: 2rem;
}


/* Open Wave controls */
.wave-open {
    height: 18rem;
    transition: height 0.3s;
}

